<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Contacto</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body class="container">

<h3>Nuevo Contacto</h3>
<form action="" th:object="${contacto}" method="post" novalidate>
    <div class="mb-2">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" placeholder="Nombre" class="form-control" th:field="*{nombre}">
    </div>
    <div class="mb-2">
        <label for="fechaNacimiento">Fecha Nacimiento</label>
        <input type="date" id="fechaNacimiento" placeholder="Fecha Nacimiento" class="form-control" th:field="*{fechaNacimiento}">
    </div>
    <div class="mb-2">
        <label for="celular">Celular</label>
        <input type="tel" id="celular" placeholder="Celular" class="form-control" th:field="*{celular}">
    </div>
    <div class="mb-2">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Email" class="form-control" th:field="*{email}">
    </div>

    <button class="btn btn-primary">Crear Contacto</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>